In [62]:
import pandas as pd
from pandas import Series,DataFrame

In [63]:
lis=[1,2,3,4,5,6]

In [64]:
li2=[]
for i in lis:
    li2.append(i*i)

In [65]:
li2

[1, 4, 9, 16, 25, 36]

In [66]:
li3=[]
for i in lis:
    li3.append(i+1)

In [67]:
li3

[2, 3, 4, 5, 6, 7]

In [68]:
s=pd.Series([1,2,3,4,5])

In [69]:
s**2.

0     1.0
1     4.0
2     9.0
3    16.0
4    25.0
dtype: float64

In [70]:
s+1

0    2
1    3
2    4
3    5
4    6
dtype: int64

In [71]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [72]:
s[2]

3

In [73]:
s=Series([1,2,3,4,5],index=['a','b','c','d','e'])

In [74]:
s

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [75]:
s['d']

4

In [76]:
s['f']=6

In [77]:
s['f']

6

In [78]:
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [79]:
s.drop('f')

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [80]:
s

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [81]:
s.drop('f')

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [82]:
s.drop('e',inplace=True)

In [83]:
s

a    1
b    2
c    3
d    4
f    6
dtype: int64

In [84]:
list("abcde")

['a', 'b', 'c', 'd', 'e']

In [85]:
s.drop('b',inplace=True)

In [86]:
s.drop('d',inplace=True)

In [87]:
s

a    1
c    3
f    6
dtype: int64

### Creating DataFrames
- Creating data frames
- Accessing rows and columns of a data frame
- Changing name of a dataframe column
- Basic DataFrame methods
- Changing dtypes of a dataframe column

In [88]:
import pandas as pd
from pandas import Series,DataFrame

In [89]:
d={"Sales":[12,13,14,15,16],"Price":[1,2,3,4,5]}

In [90]:
s=pd.DataFrame(d)

In [91]:
s

   Sales  Price
0     12      1
1     13      2
2     14      3
3     15      4
4     16      5

In [92]:
s.columns

Index(['Sales', 'Price'], dtype='object')

In [93]:
s.head()

   Sales  Price
0     12      1
1     13      2
2     14      3
3     15      4
4     16      5

In [94]:
s.head(2)

   Sales  Price
0     12      1
1     13      2

In [95]:
s.tail()

   Sales  Price
0     12      1
1     13      2
2     14      3
3     15      4
4     16      5

In [96]:
s.tail(2)

   Sales  Price
3     15      4
4     16      5

In [97]:
s['Sales']

0    12
1    13
2    14
3    15
4    16
Name: Sales, dtype: int64

In [98]:
s[["Sales","Price"]]

   Sales  Price
0     12      1
1     13      2
2     14      3
3     15      4
4     16      5

In [99]:
s['Sales'][2]

14

In [100]:
s.iloc[0,1]

1

In [101]:
s.iloc[2]

Sales    14
Price     3
Name: 2, dtype: int64

In [102]:
s.iloc[1:2]

   Sales  Price
1     13      2

In [103]:
s.columns=['Avg_sales','Avg_price']

In [104]:
print(s)

   Avg_sales  Avg_price
0         12          1
1         13          2
2         14          3
3         15          4
4         16          5

In [105]:
d={"Sales":[12,13,14,15,16],"Price":[1,2,3,4,5]}
s=pd.DataFrame(d)

In [106]:
s

   Sales  Price
0     12      1
1     13      2
2     14      3
3     15      4
4     16      5

In [107]:
s.columns=['Avg_sales','price']

In [108]:
s

   Avg_sales  price
0         12      1
1         13      2
2         14      3
3         15      4
4         16      5

In [109]:
d={"Sales":[12,13,14,15,16],"Price":[1,2,3,4,5]}
s=pd.DataFrame(d)

In [110]:
s

   Sales  Price
0     12      1
1     13      2
2     14      3
3     15      4
4     16      5

In [111]:
s.rename(columns={'Sales':'avg_sales','Price':'avg_price'})

   avg_sales  avg_price
0         12          1
1         13          2
2         14          3
3         15          4
4         16          5

In [112]:
s

   Sales  Price
0     12      1
1     13      2
2     14      3
3     15      4
4     16      5

In [113]:
s['Sales'].mean()

14.0

In [114]:
s.shape

(5, 2)

In [115]:
s['Sales'].sum()

70

In [116]:
s['Sales'].sum()/s.shape[0]

14.0

In [117]:
s.shape[1]

2

In [118]:
s.mean()

Sales    14.0
Price     3.0
dtype: float64

In [119]:
###standard deviation
s['Sales'].std()

1.5811388300841898

In [120]:
s['Sales'].mode()

0    12
1    13
2    14
3    15
4    16
dtype: int64

In [121]:
s['Sales'].min()

12

In [122]:
s['Sales'].max()

16

In [123]:
###percentile
s['Sales'].quantile(0.75)

15.0

In [124]:
s.describe()

           Sales     Price
count   5.000000  5.000000
mean   14.000000  3.000000
std     1.581139  1.581139
min    12.000000  1.000000
25%    13.000000  2.000000
50%    14.000000  3.000000
75%    15.000000  4.000000
max    16.000000  5.000000

In [125]:
s['Sales'].quantile(0.01)

12.04

In [126]:
import numpy as np

In [127]:
s['Sales'].quantile(np.arange(0,1.01,0.01))

0.00    12.00
0.01    12.04
0.02    12.08
0.03    12.12
0.04    12.16
0.05    12.20
0.06    12.24
0.07    12.28
0.08    12.32
0.09    12.36
0.10    12.40
0.11    12.44
0.12    12.48
0.13    12.52
0.14    12.56
0.15    12.60
0.16    12.64
0.17    12.68
0.18    12.72
0.19    12.76
0.20    12.80
0.21    12.84
0.22    12.88
0.23    12.92
0.24    12.96
0.25    13.00
0.26    13.04
0.27    13.08
0.28    13.12
0.29    13.16
        ...
0.71    14.84
0.72    14.88
0.73    14.92
0.74    14.96
0.75    15.00
0.76    15.04
0.77    15.08
0.78    15.12
0.79    15.16
0.80    15.20
0.81    15.24
0.82    15.28
0.83    15.32
0.84    15.36
0.85    15.40
0.86    15.44
0.87    15.48
0.88    15.52
0.89    15.56
0.90    15.60
0.91    15.64
0.92    15.68
0.93    15.72
0.94    15.76
0.95    15.80
0.96    15.84
0.97    15.88
0.98    15.92
0.99    15.96
1.00    16.00
Name: Sales, Length: 101, dtype: float64

In [128]:
### Sorting Data
### a more elegent way for filtering
data.query("Region==East")

NameError: name 'data' is not defined

In [ ]:
####what are the most that we are going to achieve whith the help of sorting
###which are the most valuable customers in the south region bu scales?

In [ ]:
data.query("Region=='South'").sort_values("Sales",ascending=False)

In [ ]:
data.query("Region=='South'").sort_values("Sales",ascending=False)['Customer ID'].head(10)

In [ ]:
# In the East Region who are the most profitable customers?

## Aggregation

In [69]:
# What is the average quantity sold by region?
data['Region'].unique()
data(['Region','West','Central','East'], dtype=object)

NameError: name 'data' is not defined

In [70]:
import numpy as np

In [71]:
data.groupby("Region",as_index=False).agg({"Quality":no.sum})

NameError: name 'data' is not defined

In [72]:
# what is the average quantity sold by each segment
data.groupby("Segement",as_index=False).agg({"Quantity":np.mean})

NameError: name 'data' is not defined

In [73]:
# what is the average quantity sold by each Category
data.groupby("Category",as_index=False).agg({"Quantity":np.mean}).rename(Columns={"Quantity":'Avg_Quantity'}).sort_values("Avg_Quantity,ascending=False"))

SyntaxError: invalid syntax (<ipython-input-73-ef0f636b63b9>, line 2)

In [74]:
# what are the top categories that gives maximum profits?
data.groupby("category",as_index=False).agg({"Profit":np.sum}).sort_values("Profit",ascendind=False)

NameError: name 'data' is not defined

In [75]:
import os
import pandas as pd

In [76]:
os.getcwd()

'C:\\Users\\dell\\MLAI'

In [77]:
os.chdir("E:\aa")

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: 'E:\x07a'

In [78]:
data=pd.read_csv("Store(1).csv",sep=",",encoding='latin',heading=0)

TypeError: parser_f() got an unexpected keyword argument 'heading'