In [1]:
print("hello world")

hello world

#### Python Data Structure
- ints and floats
- strings
- list
- tuple
- dictionary

#### Integer and Floats

In [2]:
var=17
var2=32
print(var)
print(var2)

17
32

In [3]:
type(var),type(var2)

(int, int)

In [4]:
var3=25.5
type(var3)

float

#### Strings And Bolleans

In [7]:
sa='Ram'
type(sa)

str

In [9]:
sa="These aren't good fro health."

In [10]:
print(sa)

These aren't good fro health.

In [11]:
type(False)

bool

In [12]:
int(True)

1

In [14]:
3+9

12

In [16]:
income1=450000
income2=150000

In [18]:
print("RAchel started working on a package of $"+str(income1)+". Then she reaches out to package of $"+str(income2))

RAchel started working on a package of $450000. Then she reaches out to package of $150000

In [19]:
income1=250000
income2=500000
avg=(income1+income2)/2
avg

375000.0

#### list
ordered sequence of objects since it supports indexing and slicing
[]

In [20]:
list1=[1,2,3,4,5,6]

In [21]:
type(list1)

list

In [22]:
list1[2]

3

In [23]:
list1[5]

6

In [24]:
list1[-1]

6

In [25]:
list1.index(4)

3

In [26]:
list1.index(6)

5

In [27]:
list1

[1, 2, 3, 4, 5, 6]

In [28]:
#list[starting_index:ending_index:step]

In [29]:
list1[0:3]

[1, 2, 3]

In [30]:
list1[0:6:2]

[1, 3, 5]

In [31]:
list1[0:6:3]

[1, 4]

In [32]:
list1[::3]

[1, 4]

In [33]:
list1[0]=100

In [34]:
list1

[100, 2, 3, 4, 5, 6]

In [35]:
list1[3]=400
list1

[100, 2, 3, 400, 5, 6]

In [36]:
#ading elements in the list

In [37]:
list1.append(7)

In [38]:
list1

[100, 2, 3, 400, 5, 6, 7]

In [39]:
list1.pop(6)

7

In [40]:
list1

[100, 2, 3, 400, 5, 6]

In [41]:
list2=["Shankar",2500,"Ujjwal",40000,True,34.556]

In [42]:
list2

['Shankar', 2500, 'Ujjwal', 40000, True, 34.556]

In [43]:
list2.append("ram")
list2

['Shankar', 2500, 'Ujjwal', 40000, True, 34.556, 'ram']

In [44]:
list2.pop(6)
list2

['Shankar', 2500, 'Ujjwal', 40000, True, 34.556]

In [45]:
list2[::5]

['Shankar', 34.556]

In [46]:
list3=[["Shankar",25000],["Riya",30000],["Ujjwal",40000]]
list3

[['Shankar', 25000], ['Riya', 30000], ['Ujjwal', 40000]]

In [47]:
list3[0]

['Shankar', 25000]

In [48]:
list3[0][1]

25000

In [49]:
course="Pyton:nana"

In [50]:
print(course.upper())
print(course.lower())
print(course.replace("n","n course"))

PYTON:NANA
pyton:nana
Pyton course:n coursean coursea

In [51]:
#### String is order sequence of correctors since it supports indexing and slicing.

In [52]:
course="we are having a rockstar in group D"

In [53]:
course[3]

'a'

In [54]:
course[7:-2]

'having a rockstar in group'

In [55]:
course.index('h')

7

In [56]:
course.index("a")

3

In [57]:
#### create string

In [58]:
str1="This is IBM class."
for i in str1:
    print(i)

T
h
i
s

i
s

I
B
M

c
l
a
s
s
.

In [59]:
for i in str1[:11]:
    print(i)

T
h
i
s

i
s

I
B
M

In [60]:
str1.split()

['This', 'is', 'IBM', 'class.']

In [61]:
str2="This is 2019 and next week would be 2020 and after that 2021 and we would age 21 and after that 2022 amd we would age 22 and after that 2023 and we would age 23 and afer that 2024 and we would age 24 and after that 2025 and we would age 25."

In [62]:
#need to fetch out years only and years are 4 digit numbers

In [63]:
str2.split()

['This',
 'is',
 '2019',
 'and',
 'next',
 'week',
 'would',
 'be',
 '2020',
 'and',
 'after',
 'that',
 '2021',
 'and',
 'we',
 'would',
 'age',
 '21',
 'and',
 'after',
 'that',
 '2022',
 'amd',
 'we',
 'would',
 'age',
 '22',
 'and',
 'after',
 'that',
 '2023',
 'and',
 'we',
 'would',
 'age',
 '23',
 'and',
 'afer',
 'that',
 '2024',
 'and',
 'we',
 'would',
 'age',
 '24',
 'and',
 'after',
 'that',
 '2025',
 'and',
 'we',
 'would',
 'age',
 '25.']

In [64]:
store=[]
years=[]
for i in str2.split(" "):
    if i.isdigit():
        store.append(i)
for j in store:
    if len(j)==4:
        years.append(j)

In [65]:
store

['2019',
 '2020',
 '2021',
 '21',
 '2022',
 '22',
 '2023',
 '23',
 '2024',
 '24',
 '2025']

In [66]:
years

['2019', '2020', '2021', '2022', '2023', '2024', '2025']

In [67]:
#do for month

In [68]:
str5="Janauary 01 february 02 march 03 october 10 november 11 december 12."

In [69]:
str5.split()

['Janauary',
 '01',
 'february',
 '02',
 'march',
 '03',
 'october',
 '10',
 'november',
 '11',
 'december',
 '12.']

In [73]:
storem=[]
months=[]
for i in str5.split(" "):
    if i.isdigit():
        storem.append(i)
for j in storem:
    if len(j)==2:
        months.append(j)

In [74]:
storem

['01', '02', '03', '10', '11']

In [75]:
months

['01', '02', '03', '10', '11']

## String fromatting
"String here {} and also {}.format("something1", "something2")"

In [76]:
print("my name is {}".format("Ujjwal"))

my name is Ujjwal

In [77]:
print("My name is {} and I am from {}".format("Ujjwal","Kathmandu."))

My name is Ujjwal and I am from Kathmandu.

In [78]:
print("The {1} {0} {2}".format("brown","quick","fox"))

The quick brown fox

In [79]:
print("The {q} {b} {f}".format(b="brown",q="quick",f="fox"))

The quick brown fox

In [80]:
name="Ujjwal"
adr="Kathmandu"
print(f"my name is {name} and i am from {adr}")

my name is Ujjwal and i am from Kathmandu

#### Float fromatting
"{value:width.precision f}"

In [81]:
result=22/7
result

3.142857142857143

In [82]:
print("the result was {r:1.2f}".format(r=result))

the result was 3.14

#### List comprehension

In [83]:
string="alive and kicking"
for i in string:
    print(i)

a
l
i
v
e

a
n
d

k
i
c
k
i
n
g

In [84]:
list1=[]

In [85]:
for i in string:
    list1.append(i)
print(list1)

['a', 'l', 'i', 'v', 'e', ' ', 'a', 'n', 'd', ' ', 'k', 'i', 'c', 'k', 'i', 'n', 'g']

In [86]:
list2=[1,2,3,4,5]
for i in list2:
    print(i*i)

1
4
9
16
25

In [87]:
#### list with values in celcius and convert to farenheit. for lop and list comprehensat

In [88]:
list111=[10,20,30,40,50]
list1112=[]
for i in list111:
    i=((i * 9/5) + 32)
    list1112.append(i)
print(list1112)

[50.0, 68.0, 86.0, 104.0, 122.0]

In [89]:
[((i * 9/5) + 32) for i in list111]

[50.0, 68.0, 86.0, 104.0, 122.0]

In [90]:
list3=[2,3,4,5,6,7,8]
list4=[]
list4=[i*i for i in list3]
list4

[4, 9, 16, 25, 36, 49, 64]

#### Functions

- def function_name():
      '''
           docstring
      '''
      print("anything")

In [91]:
def hello():
    print("hello")

In [92]:
hello()

hello

In [93]:
def hello(name):
    print("hello "+name)

In [94]:
hello("Ujjwal")

hello Ujjwal

In [112]:
def sum(a,b):
    c=a+b
    print("Sum is "+c)

In [114]:
sum("10","20")

Sum is 1020

In [100]:
def area(r):
    return((22/7)*r*r)

In [101]:
area1=area(4)

In [102]:
area1

50.285714285714285

In [72]:
def circumference(r):
    '''
       Function: This is the function to calculate circumference of circle.
       formula used= 2*pi*r
    '''
    return(2*(22/7)*r)

In [73]:
circumference(6)

37.714285714285715

In [74]:
def aot(l,b):
    return(2*(l+b))

In [75]:
aot(3,6)

18

#### Tuple
- Ordered sequence of objects since it supports indexing and slicing, and also these are imutable.

In [76]:
li=(1,2,3,4,5,6,7)

In [77]:
type(li)

tuple

In [81]:
li.index(4)

3

In [87]:
li[::2]

(1, 3, 5, 7)

In [89]:
li[0]=100

TypeError: 'tuple' object does not support item assignment

In [113]:
string="This is Nepal"
c=0
for i in string:
    if i.isupper():
        c=c+1
print(c)

2

#### dictionary
- unordered sequence of objects since it does support indexing and slicing.
- it stores objects in the form of key value pairs.
- {"key1":value1,"key2":value2,:"key3":value3}

In [2]:
income={"jenis":25000,"Ujjwal":50000,"Amanda":70000,"Catherine":30000}

In [115]:
type(income)

dict

In [3]:
income.items()

dict_items([('jenis', 25000), ('Ujjwal', 50000), ('Amanda', 70000), ('Catherine', 30000)])

In [4]:
income.keys()

dict_keys(['jenis', 'Ujjwal', 'Amanda', 'Catherine'])

In [5]:
income.values()

dict_values([25000, 50000, 70000, 30000])

In [8]:
for i in income.keys():
    print(i)

jenis
Ujjwal
Amanda
Catherine

In [9]:
for i in income.values():
    print(i)

25000
50000
70000
30000

In [28]:
income["jenis"]

25000

In [3]:
income1={"Sandy":{"income":5000,"Dept":"Artificial Intelligence"},"Ujjwal":{"income":6000,"Dept":"Computing"},"Ajay":{"income":7000,"Dept":"Hacking"}}

In [4]:
income1

{'Sandy': {'income': 5000, 'Dept': 'Artificial Intelligence'},
 'Ujjwal': {'income': 6000, 'Dept': 'Computing'},
 'Ajay': {'income': 7000, 'Dept': 'Hacking'}}

In [17]:
income1.values()

dict_values([{'income': 5000, 'Dept': 'Artificial Intelligence'}, {'income': 6000, 'Dept': 'Computing'}, {'income': 7000, 'Dept': 'Hacking'}])

In [20]:
for i in income1:
    print(i)

Sandy
Ujjwal
Ajay

In [26]:
income1["Sandy"]["income"]

5000

In [1]:
sem={"Gender":"Male","Salary":600000}

In [7]:
income1["ujjwal"]=sem

In [8]:
income1

{'Sandy': {'income': 5000, 'Dept': 'Artificial Intelligence'},
 'Ujjwal': {'income': 6000, 'Dept': 'Computing'},
 'Ajay': {'income': 7000, 'Dept': 'Hacking'},
 'ujjwal': {'Gender': 'Male', 'Salary': 600000}}

In [10]:
del(income1["Sandy"])

In [12]:
income1

{'Ujjwal': {'income': 6000, 'Dept': 'Computing'},
 'Ajay': {'income': 7000, 'Dept': 'Hacking'},
 'ujjwal': {'Gender': 'Male', 'Salary': 600000}}

In [14]:
string="This is softwarica and here we are chilling!"
string.split(" ")

['This', 'is', 'softwarica', 'and', 'here', 'we', 'are', 'chilling!']

In [32]:
string1="this is one and this is two and this is three."

In [33]:
dictn={}
for i in string1.split(" "):
    if i in dictn:
        dictn[i]=dictn[i]+1
    else:
        dictn[i]=1
dictn

{'this': 3, 'is': 3, 'one': 1, 'and': 2, 'two': 1, 'three.': 1}

In [43]:
li=[1,'a',2,'b',3,'c',4,'d']
for i in li:
    if type(i)==int:
        print(i)

1
2
3
4

In [44]:
li[::2]

[1, 2, 3, 4]

In [51]:
[i for i in li if type(i)==int]

[1, 2, 3, 4]

In [49]:
for i in li:
    if type(i)==str:
        print(i)

a
b
c
d

In [50]:
li[1::2]

['a', 'b', 'c', 'd']

In [69]:
li1=[1,2,3,4,]
li2=['a','b','c','d']
li3=[]
for i in li1:
    for j in li2:
        if li1.index(i)==li2.index(j):
             li3.append([i,j])

In [70]:
li3

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd']]

In [73]:
[[i,j] for in li1 j for j in li2 if li1.index(i)==li2.index(j)]

SyntaxError: invalid syntax (<ipython-input-73-08553a92ba6c>, line 1)

In [75]:
for i in zip(li1,li2):
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [76]:
list(zip(li1,li2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

### Range

In [16]:
for i in range(0,3):
    print(i)

0
1
2

In [22]:
l1=[]
for i in range(0,4):
    for j in range(5,9):
        l1.append([i,j])
l1

[[0, 5],
 [0, 6],
 [0, 7],
 [0, 8],
 [1, 5],
 [1, 6],
 [1, 7],
 [1, 8],
 [2, 5],
 [2, 6],
 [2, 7],
 [2, 8],
 [3, 5],
 [3, 6],
 [3, 7],
 [3, 8]]

In [25]:
list(zip(range(0,4),range(5,9)))

[(0, 5), (1, 6), (2, 7), (3, 8)]

### Lamda, map, filter

In [26]:
def square(x):
    return(x**2)

In [28]:
square(10)

100

In [29]:
s=lambda x:x**2

In [31]:
s(7)

49

In [41]:
q=lambda r, h:(2*(22/7)*r*h+2*(22/7)*r*r)

In [42]:
q(5,6)

345.71428571428567

In [1]:
lit=[1,2,3,4,5]
for i in lit:
    print(i*i)

1
4
9
16
25

In [2]:
[i*i for i in lit]

[1, 4, 9, 16, 25]

In [3]:
list(map(lambda x:x**2,lit))

[1, 4, 9, 16, 25]

In [6]:
cities=['delhi','pune','mumbai','karnataka','Ghazibad']
list(filter(lambda x:len(x)>5,cities))

['mumbai', 'karnataka', 'Ghazibad']

In [7]:
##b list which will be storing the radius of the circle. and use map and lambda to calculat the area of the circle.
## create list which will hold all datatype value. filterout the string value only.

In [6]:
li=[1,2,3,4,5]
list(map(lambda r:2*(22/7)*r*r,li))

[6.285714285714286,
 25.142857142857142,
 56.57142857142857,
 100.57142857142857,
 157.14285714285714]

In [5]:
li=[1,"Ram",True,3.44]
list(filter(lambda x isstring(),li))

SyntaxError: invalid syntax (<ipython-input-5-d17049b06ea4>, line 2)